body {
    max-width:1920px; min-width:320px;
    margin:0 auto;
    #wrap {
        header {
            .noti { //글씨 가운데 정렬
                padding: 5px 0;
                text-align: center;
                color: #fff;
                background-color: #1C1B1F;
                a { 
                    font-size: 0.75rem;
                    color: #fff;
                }
                button {
                    color: blue;
                }
            }
/* 상단메뉴 */
            nav {
                background-color: aqua;
                padding: 0 80px;
                display: flex;
                align-items: center;
                position: relative;
                .logo {
                    margin-right: auto; // 왼쪽 끝으로
                    a {
                        img {
                            width: 145px; height: 56px; 
                        }
                    }
                }
                .gnb {
                    
                    padding-right: 80px;
                    border-right: solid #1C1B1F;
                    display: flex;
                    gap: 80px;
                    li {
                        a {
                            font-weight: 500;
                        }
                    }
                }
                .gnb_about {
                    padding-left: 80px;
                    display: flex;
                    gap: 22px;
                    li {
                        a {
                            font-weight: 500;
                        }
                    }
                }
                .my_box { //갭줘야함
                    margin-left: auto; //오른쪽끝으로
                    display: flex;
                    gap: 10px;
                    a {
                        img {}
                    }
                }
            }
        }
            .sub_category { 
                display: flex;
                justify-content: center;
                text-align: center;
                margin: auto;
                .sub_women {
                    li { 
                        a {}
                    }
                }

                .sub_kids {
                    li {
                        a {}
                    }
                }

                .sub_bags {
                    li {
                        a {}
                    }
                }

                .sub_sportyon {
                    li {
                        a {}
                    }
                }

                .sub_outlet {
                    li {
                        a {}
                    }
                }

                .sub_living {
                    li {
                        a {}
                    }
                }

                .sub_store {
                    li {
                        a {}
                    }
                }

                .sub_webonly {
                    li {
                        a {}
                    }
                }

                .sub_story {
                    li {
                        a {}
                    }
                }
            }

        .page1 {
            .visual_wrap {
                .slide {
                    a {
                        img {}
                    }
                }

                .slideBtn {
                    .slideBtn_item {
                        button.slidedot {}
                    }
                }
            }
        }
    }
}