/* 텀블벅 광고 배너 */
/* #tumblbug {margin:50px 0;}
#tumblbug #tumblbug_swiper {width:766px; border-radius:10px;} */
/* #tumblbug #tumblbug_swiper .swiper-wrapper {}
#tumblbug #tumblbug_swiper .swiper-wrapper .swiper-slide {}
#tumblbug #tumblbug_swiper .swiper-wrapper .swiper-slide a {} */
/* #tumblbug #tumblbug_swiper .swiper-wrapper .swiper-slide a img {width:100%;} */
/* #tumblbug #tumblbug_swiper .swiper-wrapper .ad1 {}
#tumblbug #tumblbug_swiper .swiper-wrapper .ad2 {}
#tumblbug #tumblbug_swiper .swiper-wrapper .ad3 {} */
/* #tumblbug #tumblbug_swiper .controls {
position:absolute; width:131px; height:30px; right:20px; bottom:20px;
display:flex; align-items: center; z-index:999;
}
#tumblbug #tumblbug_swiper .controls .swiper-pagination {
width:50px; color:#fff; border-radius:4px; overflow:hidden;
}
#tumblbug #tumblbug_swiper .controls .swiper-pagination > * {position:relative; color:#fff;}
#tumblbug #tumblbug_swiper .controls .swiper-pagination::after {
background:rgba(0,0,0,0.5); 
content:''; display:block; position:absolute; width:100%; height:20px; bottom:0px; z-index:-1;
}
#tumblbug #tumblbug_swiper .controls .button {position:relative; width:80px; height:50px; right:-50px;} */
/* #tumblbug #tumblbug_swiper .controls .button .swiper-button-prev {}
#tumblbug #tumblbug_swiper .controls .button .swiper-button-next {} */
/* #tumblbug #tumblbug_swiper .controls .button .swiper-button-prev::after,
#tumblbug #tumblbug_swiper .controls .button .swiper-button-next::after {
background:url(https://cdn-icons-png.flaticon.com/128/2609/2609370.png) no-repeat center / 40px;
content:''; display:block; width:50px; height:50px; opacity:0.8;
}
#tumblbug #tumblbug_swiper .controls .button .swiper-button-next::after {transform:scaleX(-1);}
#tumblbug #tumblbug_swiper .controls .button .swiper-button-prev svg,
#tumblbug #tumblbug_swiper .controls .button .swiper-button-next svg {display:none;}
#tumblbug #tumblbug_swiper .controls .button .swiper-button-prev,
#tumblbug #tumblbug_swiper .controls .button .swiper-button-next {transform:scale(0.65);} */

